.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slides {
    min-width: 70%;
    min-height: 200px;
}

.carousel-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}